# CSS
*.css text eol=lf

# Fonts
*.ttf binary

# Git
.gitattributes text eol=lf export-ignore
.gitignore text eol=lf export-ignore

# HTML
*.html text eol=lf

# Images
*.ico binary

# Markdown
*.md text eol=lf

# Sass
*.scss text eol=lf

# YAML
*.yml text eol=lf
