# CSS
*.css text eol=lf

# Git
.gitattributes text eol=lf export-ignore
.gitignore text eol=lf export-ignore
.gitkeep text eol=lf export-ignore

# HTML
*.html text eol=lf

# Images
*.ico binary

# JavaScript
*.js text eol=lf

# JSON
*.json text eol=lf

# Markdown
*.md text eol=lf

# Sass
*.scss text eol=lf

# TypeScript
*.ts text eol=lf

# YAML
*.yml text eol=lf
