@font-face {
    /* lato */
    font-family: 'Lato-Regular';
    src: url(../assets/Fonts/Lato/Lato-Regular.ttf);

    /* lato bold */
    font-family: 'Lato-Bold';
    src: url(../assets/Fonts/Lato/Lato-Bold.ttf);

}

:root{
    --border-color: #e6e1da;
}

body,
input,
button {
    font-family: 'Lato-Regular';

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato-Regular';
}


input,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
}


/* Language: css */
/* Path: css\index.css */

body {
    background-color: var(--border-color);
}

main {

    width: fit-content;
    margin: auto;
    border: 3px solid #fff;
    border-radius: 5px;

}

main>div {
    width: 13em;
    padding: 18px;

    text-align: center;
    
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

main>div>div>p {
    font-family: lato-bold;
}

main>div>div>p:nth-child(2) {
    color: gray;

    font-family: lato-bold;
    font-size: 10pt;
}

input[type="number"] {
    width: 50px;
    height: 40px;

    padding: 0 10px;
    margin-bottom: 10px;
    margin-left: 15px;

    border: 2px solid var(--border-color);
    border-radius: 5px;
    border-bottom: 5px solid var(--border-color);

}

button {
    width: auto;
    height: 40px;

    padding: 0 10px;
    margin-bottom: 10px;
   
    border: 2px solid var(--border-color);
    border-radius: 5px;
    border-bottom: 5px solid var(--border-color);

    font-family: Lato-Regular;
}

button:hover {
    cursor: pointer;
}


main>div>div:nth-child(4) {

    min-height: 25px;

    overflow-wrap: normal;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
}