@use "colors";
@use "fonts";

html {
    font-size: 16px;
}

body {
    background: colors.$background-light;
    margin: 0;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

    .container {
        background: colors.$white;
        border: 0.25rem solid colors.$background-light;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
        padding: 1rem;
        text-align: center;
        width: 24rem;

        div {
            margin: 1rem;
        }

        .generate-button {
            button {
                background: colors.$white;
                border: 2px solid colors.$background-light;
                border-bottom: 0.25rem solid colors.$background-light;
                border-radius: 0.25rem;
                cursor: pointer;
                font-family: "Lato Regular", sans-serif;
                font-size: 1em;
                height: 3rem;
                padding: 0 1rem;
            }
        }

        .options {
            margin: 0 auto;
            width: 16rem;

            .option {
                align-items: center;
                display: flex;
                justify-content: space-between;

                input {
                    font-family: "Lato Regular", sans-serif;
                    outline: none;

                    &[type=checkbox] {
                        accent-color: colors.$background-light;
                        height: 1.25rem;
                        margin: 0.1rem;
                        width: 1.25rem;
                    }

                    &[type=number] {
                        -moz-appearance: textfield;
                        border: none;
                        border-bottom: 0.05rem solid colors.$black;
                        font-size: 1rem;
                        padding: 0 0.18rem;
                        text-align: right;
                        width: 2.5rem;
                    }

                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                    }
                }

                label {
                    font-family: "Lato Regular", sans-serif;
                    line-height: 1.25rem;
                }
            }
        }

        .password {
            p {
                font-family: "Lato Regular", sans-serif;
                margin: 0;
            }
        }

        .title {
            h1 {
                font-family: "Lato Bold", sans-serif;
                margin: 0;
            }
        }
    }
}
